@model IEnumerable<CharaGach.Models.Plants>

@{
    ViewData["Title"] = "okk";
}

<h1>okk</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Details
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
               Size
            </th>
            <th>
               Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.plantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plantDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plantType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plantPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plantQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plantSize)
            </td>
            <td>
                    <img src="~/charagachImages/@Html.DisplayFor(modelItem => item.plantImagePath)" style="width:100px; height:100px" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.plantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.plantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.plantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
